<form (submit)="loginUser($event)">
    <div class="input"> 
        <label>Username: </label>
        <input type="text" placeholder="username">
    </div>
    <div class="input"> 
        <label>Username: </label>
        <input type="text" placeholder="password">
    </div>
    <div class="input"> 
        <label>Username: </label>
        <input type="button" (click)="goToHome()" value="log in">
    </div>

</form>




<!-- <div>
    <label for="username">Username: </label>
    <input id="username"  placeholder="username">
    <label for="password">Password: </label>
    <input id="password"  placeholder="password">

    <button type="button" (click)="setLogIn()">
        <span class="login">Log in</span>
      </button>
</div> -->

